header h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1rem;

}

nav{
    background-color: rgb(54, 54, 54);   
    align-items: center;
}

ul li{
    all: none;
    list-style: none;
    color: orange;  
}


ul li:first-child{
    padding-inline-end: 1em;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    line-height: 60px;
}

