* {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    /* overflow-x: hidden; */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(207, 207, 207);
    color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* background-image: url(../../../graphics/icons/backgrounds/bg4.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fa.fa-solid::before {
    font-family: fa-solid;
    font-size: 1em;
    margin: auto;
    position: relative;

}

::-webkit-scrollbar {
    width: 10px;
    background: orange;
    /* background: #888; */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    background: orange;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

